{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	
	
	
	<!-- Font styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
	
	<!--grid styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/gridcss.css' %}">

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="file:///D:/main.css?v=2.0.7' %}" media="screen">
	
	
	<link href="./Sodzo Foundation Intelligent Real Time Data Visualization Dashboard_files/main.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="file:///E:/dashboard/Final%20DASHBOARD/Sodzo%20Foundation%20Intelligent%20Real%20Time%20Data%20Visualization%20Dashboard_files/leaflet(1).css">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min(1).css' %}">
        <link rel="stylesheet" href="{% static 'css/leaflet.awesome-markers(1).css' %}">
        <link rel="stylesheet" href="{% static 'css/leaflet-sidebar(1).css' %}">
    
  <title>Sodzo Foundation Intelligent Real Time Data Visualization Dashboard</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
  <link href="{% static 'css/claro.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/esri.css' %}"rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor-cd320a47cf3e277e4a55fc99d7ff1519.css' %}">
  <link rel="stylesheet" href="{% static 'css/app-dark-a60912f622e1cc7ef9ecc5c1a924aba6.css' %}">
  
  
  <script type="text/javascript" charset="utf-8" src="{% static 'js/jsapi_en-us.js(15).download' %}"></script>
  <script async="" src="{% static 'js/modules.2500c3178bec9a890edb.js(1).download' %}" charset="utf-8"></script>
    
	
	<style>
body {
  font-size: calc(0.75em + 1vmin);
}

font-size: calc(16px + 0.4vw);

</style>
</head>


<body >
  <script src="{% static 'js/init.js.download' %}" data-amd="true"></script>
  <script src="{% static 'js/amd-loading-02cbfb85f129b9c95536fe053a9457cb.js.download' %}" data-amd-loading="true"></script>
  


<div id="ember5" class="dashboard-page flex-vertical full panel panel-no-border panel-no-padding position-relative ember-view">  

<div style="" id="ember7" class="flex-fluid flex-vertical overflow-hidden dashboard-container ember-view">
<div id="ember8" class="flex-fix panel-container flex-vertical top-panel-container ember-view">

<!-- row 1 -->

<!--<div style="width:900px; margin:0 auto;" class="full-container"> -->                 				  
<div style="background-image:url(https://arcgis.com/apps/opsdashboard/index.html#/85320e2ea5424dfaaa75ae62e5c06e61);" id="ember9" class="header-panel flex-horizontal medium normal-left ember-view">  

<div class="flex-fix flex-align-center allow-shrink margin-left-1 flex-horizontal flex-align-items-baseline">
  <div class="title no-pointer-events text-ellipsis margin-right-half">Intelligent Real Time Data Visualization Dashboard (The Lawuna Project)</div>
  <div class="subtitle text-ellipsis no-pointer-events margin-right-half"></div> 
</div>
</div>

</div>
<!-- row 1 -->


<!-- row1.1 -->

<!-- row1.1 -->














</div>
</div>
</div>

</body>




</html>